---
layout: default
title: DG Styleguide
---
{% include header.html %}
<div class="container dg-mt50">
  <div class="columns three">
    <h1>
      Styleguide
    </h1>
    A list of ui components
    <ul class="doc-nav-list">
      <li><a href="#Hero">Hero</a></li>
      <li><a href="#CollectionHeading">Collection Heading</a></li>
      <li><a href="#SecondaryNav">SecondaryNav</a></li>
      <li><a href="#Buttons">Buttons</a></li>
      <li><a href="#Forms">Forms</a></li>
      <li><a href="#Tiles">Tiles</a></li>
      <li><a href="#NavMenu">Nav Dropdown</a></li>
      <li><a href="#Modals">Modals</a></li>
      <li><a href="#CouponCards">Coupon Cards</a></li>
      <li><a href="#NavTabs">Nav Tabs</a></li>
      <li><a href="#Preloaders">Preloaders</a></li>
    </ul>
    <h3 class="light">Page templates</h2>
    A sample of different pages
      <ul class="doc-nav-list">
        <li><a target="_blank" href="home-page">Home Page</a></li>
        <li><a target="_blank" href="product-page">Product Page</a></li>
        <li><a target="_blank" href="location-panel">Location Panel</a></li>
        <li><a target="_blank" href="coupons-page">Coupons Page</a></li>
      </ul>
  </div>
  <div class="columns nine">
    {% include doc_hero.html %}
    {% include doc_collection_heading.html %}
    {% include doc_secondary_nav.html %}
    {% include doc_buttons.html %}
    {% include doc_forms.html %}
    {% include doc_tiles.html %}
    {% include doc_nav_menu.html %}
    {% include doc_modals.html %}
    {% include doc_coupon_cards.html %}
    {% include doc_nav_tabs.html %}
    {% include doc_preloaders.html %}
  </div>

</div>
