<div class="doc-section" id="Colors">
  <h3>
    Colors
  </h3>
  <p>
    A minimal palette, can add more if needed. Please categorize when adding more.
  </p>
  <div class="doc-section-box clearfix">
    
    <div class="doc-color-box doc-color-brand">
      <strong>#37B699</strong>
      <div class="small">$brand-color</div>
    </div>
    <br>
    <br>
    <div class="doc-color-box doc-color-grey-dark">
      <strong>#777E86</strong>
      <div class="small">$grey-color-dark</div>
    </div>
    <div class="doc-color-box doc-color-grey">
      <strong>#9B9B9B</strong>
      <div class="small">$grey-color</div>
    </div>
    <div class="doc-color-box doc-color-grey-light">
      <strong>#E8EAEE</strong>
      <div class="small">$grey-color-light</div>
    </div>
    <div class="doc-color-box doc-color-grey-lighter">
      <strong>#F5F5F5</strong>
      <div class="small">$grey-color-lighter</div>
    </div>
    <br>
    <br>
    <div class="doc-color-box doc-color-secondary">
      <strong>#D5F4FF</strong>
      <div class="small">$secondary-light-color</div>
    </div>
    <div class="doc-color-box doc-color-notify-bubble">
      <strong>#7FFFE2</strong>
      <div class="small">$notify-bubble-color</div>
    </div>
    <br>
    <br>
    <div class="doc-color-box doc-color-status-default">
      <strong>#FFF3DF</strong>
      <div class="small">$status-default</div>
    </div>
    <div class="doc-color-box doc-color-status-highlight">
      <strong>#F6A623</strong>
      <div class="small">$status-highlight</div>
    </div>
    <div class="doc-color-box doc-color-status-valid">
      <strong>#16c98d</strong>
      <div class="small">$status-valid</div>
    </div>
    <div class="doc-color-box doc-color-status-warning">
      <strong>#F4565D</strong>
      <div class="small">$status-warning</div>
    </div>

  </div> 

  
</div>