<div class="doc-section" id="Modals">
  <div class="doc-section-box doc-section-box-primary">
    <div class="ui-modal">
      <div class="ui-modal-box">
        <div class="ui-modal-content">
          <div class="ui-modal-header">
            <a href="" class="ui-modal-close"></a>
            <h4>Modal Header</h4>
          </div>  
          <div class="ui-modal-body">
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Coupon Owner</h6>
              <div class="ui-block-selection_value">
                Rene Harvey Enrile
              </div>
            </div>
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Branch</h6>
              <div class="ui-block-selection_value">
                BGC, Taguig
              </div>
            </div>
            <div class="ui-block-selection">
              <div class="ui-qty-selector">
                <button class="ui-qty-selector-button ui-qty-selector-plus"></button>
                <button class="ui-qty-selector-button ui-qty-selector-minus"></button>
              </div>
              <h6>Quantity</h6>
              <div class="ui-block-selection_value coupon-qty">
                1
              </div>
            </div>
            
          </div>
          <div class="ui-modal-footer">
            <a href="" class="ui-button ui-button-primary">Button</a>
          </div>  
        </div>
      </div>
      
    </div>  
  </div>
  
</div>