<div class="doc-section" id="Alerts">
  <h3>
    Alerts
  </h3>
  <p>
    Alerts are used to show only error and success system messages - e.g. Successfully updated profile or there was an error adding to your cart. These cannot be used in form validation
  </p>
  <div class="doc-section-box clearfix">
    
    <div class="flash-message">
      <div class="alert-block alert-success">
        You've successfully updated your profile
      </div>
    </div>
    <div class="flash-message">
      <div class="alert-block alert-error">
        Oops! There's something wrong. Please try again
      </div>
    </div>
  </div> 
</div>