<div class="doc-section" id="Hero">
  <h3>
    Hero
  </h3>
  <p>The main headline and sub headline for the home page</p>
  <div class="doc-section-box mb30">
    <div class="hero home-hero">
      <h1>
      Redefining The Way You Spend
    </h1>
      We are your source of the best value on the Philippines' quality resorts, hotels, restaurants and world-class services.    
    </div>
    
  </div>

  <h4>
    Hero - Collection
  </h4>
  <div class="doc-section-box">
    <div class="hero">
      <h1>
        Dining
      </h1>
      Your weekly dose of deals throught the week. Enjoy our curated deals that fit your lifestyle each day until the weekend. Updated every week

    </div>
  </div>
</div>