<div class="doc-section" id="Modals">
  <h3>
    Modals
  </h3>
  <div class="doc-section-box doc-section-box-primary">
    <div class="ui-modal">
      <div class="ui-modal-box">
        <div class="ui-modal-content">
          <div class="ui-modal-header">
            <a href="" class="ui-modal-close"></a>
            <h4>Modal Header</h4>
          </div>
          <div class="block-notification">
            <div class="ui-modal-section">
              Branch chosen during purchase is final and cannot be changed afterwards.
            </div>
          </div>  
          <div class="ui-modal-body">
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Coupon Owner</h6>
              <div class="ui-block-selection_value">
                Rene Harvey Enrile
              </div>
            </div>
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Branch</h6>
              <div class="ui-block-selection_value">
                BGC, Taguig
              </div>
            </div>
            <div class="ui-block-selection">
              <div class="ui-qty-selector">                
                <button class="ui-qty-selector-button ui-qty-selector-minus is-disabled"></button>
                <button class="ui-qty-selector-button ui-qty-selector-plus"></button>
              </div>
              <h6>Quantity</h6>
              <div class="ui-block-selection_value coupon-qty">
                1
              </div>
              <div class="coupon-qty-left">4 coupons left</div>
            </div>
          </div>
          <div class="ui-modal-footer text-right">

            <a href="" class="ui-button ui-button-primary">Add to Cart</a>
          </div>  
        </div>
      </div>
      
    </div>  
  </div>


  <div class="doc-section-box doc-section-box-primary">
    <div class="ui-modal">
      <div class="ui-modal-box">
        <div class="ui-modal-content">
          <div class="ui-modal-header">
            <a href="" class="ui-modal-close"></a>
            <h4>Update Preferences</h4>
          </div>
          <div class="block-notification">
            <div class="ui-modal-section">
              <div class="media-item">
                <div class="media-thumbnail tile-thumbnail tile-thumbnail-xsm">
                  <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582bf57bd1b7ea6da700003d/cover-2016-11-16.jpg" alt="">
                </div>
                <div class="media-content">
                  Celebrate Over F1 Hotel Manila's Buffet &amp; Limitless Iced Tea
                  <br>
                  <strong class="small">The Teahouse at Qiwellness Living  </strong>
                </div>
              </div>
            </div>
          </div>  
          <div class="ui-modal-body">
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Coupon Owner</h6>
              <div class="ui-block-selection_value">
                Rene Harvey Enrile
              </div>
            </div>
            <div class="ui-block-selection">
              <a class="ui-block-selection-edit ui-button ui-button-none">Change</a>
              <h6>Branch</h6>
              <div class="ui-block-selection_value">
                BGC, Taguig
              </div>
            </div>
            <div class="ui-block-selection">
              <div class="ui-qty-selector">                
                <button class="ui-qty-selector-button ui-qty-selector-minus is-disabled"></button>
                <button class="ui-qty-selector-button ui-qty-selector-plus"></button>
              </div>
              <h6>Quantity</h6>
              <div class="ui-block-selection_value coupon-qty">
                1
              </div>
              <div class="coupon-qty-left">4 coupons left</div>
            </div>
          </div>
          <div class="ui-modal-footer text-right">

            <a href="" class="ui-button ui-button-primary">Add to Cart</a>
          </div>  
        </div>
      </div>
      
    </div>  
  </div>
  
</div>