<div class="doc-section" id="CouponCards">
  <h3>Coupon Cards</h3>
  <div class="mtb30">

    <div class="collection-title">
      <h4>Coupons</h4>
    </div>
  

    <div class="coupon-card clearfix">
      <div class="tile-thumbnail columns two">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58294e89c8e7d0178c00027a/cover-2016-11-14.jpg" alt="">
      </div>
      <div class="coupon-card_content columns ten">
        <div class="coupon-card_name">P500 Worth of Scrumptious American Comfort Food (BGC) </div>
        <strong>Sunrise Buckets</strong>
        <ul class="coupon-card_metalist">
          <li><span class="h-state">3 Coupons</span></li>
          <li><span class="h-state h-state-valid">Valid Now</span></li>
        </ul>
        <p class="text-error">Redemption ends in 3 days</p>
        <div class="coupon-card_actions">
          <ul class="coupon-card_metalist">
            <li><a href="">Read Terms</a></li>
            <li><a href="">Contact Info</a></li>
          </ul>
          <div class="coupon-card_download">
            <a href="" class="ui-button">Download</a>
          </div>
          
        </div>
      </div>
    </div>

    <div class="coupon-card clearfix">
      <div class="tile-thumbnail columns two">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/580d5fadd1b7ea5695000113/cover-2016-10-24.jpg" alt="">
      </div>
      <div class="coupon-card_content columns ten">
        <div class="coupon-card_name">60-Minute AP &amp; BT by a Local Trainer</div>
        <strong>Karada</strong>
        <ul class="coupon-card_metalist">
          <li><span class="h-state">3 Coupons</span></li>
        </ul>
        <div class="coupon-card_actions">
          <ul class="coupon-card_metalist">
            <li><a href="">Read Terms</a></li>
            <li><a href="">Contact Info</a></li>
          </ul>
          <div class="coupon-card_download">
            <a href="" class="ui-button">Download</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="collection-title">
      <h4>
        Awaiting Payment
      </h4>
      <p>Coupons that are not verified through payment will expire in 24 hours.</p>
    </div>
    <div class="coupon-card is-disabled clearfix">
      <div class="tile-thumbnail columns two">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57fc8ab3d1b7ea5ed70000e1/cover-2016-10-11.jpg" alt="">
      </div>
      <div class="coupon-card_content columns ten">
        <div class="coupon-card_name">Tastebud Travel to Thailand: P500 Worth of Food (SM North EDSA)</div>
        <strong>The Wine Club</strong>
        <ul class="coupon-card_metalist">
          <li><span class="h-state">3 Coupons</span></li>
        </ul>
        <p class="text-error">Expires in 3 hours</p>
      </div>
    </div>

    



  </div>
    
    
        
  

</div>