<div class="doc-section" id="ReviewTile">
  <h3>
    Review Tile
  </h3>
  <div class="doc-section-box mb30">
    <h5>25 Customer Reviews</h5>
    <div class="review">
      <div class="mb10">
        <h3 class="review-title">
          I'll go back there every month
        </h3>
        <div class="star-rating">
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
        </div>  
      </div>
      
      <p class="review-text">
        I can't wait to eat again at this Japanese resto! I love their beef teppan: succulent, tender, juicy, and really delicious! I wish I had a much larger stomach so I can eat more of their sushi and sashimi. Salads are great, too! Freshly-made tempura is served right at your table (another plate, please!)  
      </p>
      <div class="review-was-helpful">
        <strong>10</strong> users found this helpful. Was this review helpful? 
        <button class="ui-button-pill">Yes</button> 
      </div>
      <div><strong>Danielle</strong></div>
      <em class="small text-muted">Last redeemed from November to January 2016</em>
    </div>

    <div class="review">
      <div class="mb10">
        <h3 class="review-title">
          A Tough Act to Follow in Japanese Buffets
        </h3>
        <div class="star-rating">
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
        </div>  
      </div>
      
      <p class="review-text">
        Certainly worth the price of admission, so to speak. The sashimi was fresh, not frozen. The tempura was cooked properly and didn't make you feel you were just eating pieces of cold batter masquerading as tempura. The teppanyaki station was excellent, their steak and salmon were especially good. It was my first time to have wasabi ice cream and it did not disappoint. The tart spiciness of the wasabi blended well with the sweet taste of the cream. Definitely will be a repeat diner. 
      </p>
      <div class="review-was-helpful">
        <strong>10</strong> users found this helpful. Was this review helpful? 
        <button class="ui-button-pill">Yes</button> 
      </div>
      <div><strong>Aira</strong></div>
      <em class="small text-muted">Last redeemed from November to January 2016</em>
    </div>

  </div>

</div>


