<div class="doc-section" id="NavTabs">
  <h3>
    Nav Tabs
  </h3>
  <div class="doc-section-box mb30">
    <ul class="nav-tabs">
      <li class="is-active"><a>About this Deal</a></li>
      <li><a>Terms &amp; Conditions</a></li>
      <li><a>8 Reviews 
        <span class="star-rating">
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
        </span>
      </a></li>
    </ul>
  </div>
  
 

</div>


