<div class="doc-section" id="Forms">
  <h3>
    Forms
  </h3>
  <div class="doc-section-box mb30">
    <div class="u-form-group">
      <label class="u-form-label">This is a label</label>
      <input class="u-full-width" placeholder="This is a placeholder" type="text">
      <a href="" class="ui-button ui-button-primary">Button Outline</a>  
    </div>
    <div class="u-form-group">
      <label class="u-form-label">This is a label</label>
      <input class="u-full-width" disabled value="This is a disabled input" type="text">
    </div>
    <div class="u-form-group u-form-group-inline">
      <label for="" class="u-form-label">Mobile Number</label>
      <div class="input-w-prefix">
        <input type="text">    
        <div class="input-prefix">+63</div>
      </div>
    </div>
    <div class="u-form-group u-form-group-inline">
      <label for="" class="u-form-label">Select</label>
      <div class="select">
        <select name="" id="" >
          <option value="">Metro Manila</option>
        </select>
      </div>
    </div>
  </div>
  <h4>
    Inline Form
  </h4>
  <div class="doc-section-box mb30">
    <div class="u-form-group u-form-group-inline">
      <label class="u-form-label">First Name</label>
      <input type="text">
    </div>
    <div class="u-form-group u-form-group-inline">
      <label class="u-form-label">Last Name</label>
      <input type="text">
    </div>
    
    <div class="u-form-group">
      <button class="ui-button ui-button-primary ui-button-small">Submit</button>
      <button class="ui-button ui-button-none ui-button-small">Cancel</button>
    </div>
  </div>

  <div class="doc-section-box mb30">
    <div class="u-form-group u-form-group-inline has-error">
      <label class="u-form-label">First Name</label>
      <input type="text">
    </div>
    <div class="u-form-group u-form-group-inline has-error">
      <label class="u-form-label">Last Name</label>
      <input type="text">
    </div>
    <p class="text-error">
      Sorry this is an error
    </p>
    <div class="u-form-group">
      <button class="ui-button ui-button-primary ui-button-small">Submit</button>
      <button class="ui-button ui-button-none ui-button-small">Cancel</button>
    </div>
  </div>
  
  

</div>