<div class="doc-section" id="Tiles">
  <h3>
    Tiles
  </h3>
  <p>Although tiles have a min-width, make sure they are contained in a grid</p>
  
  <h4>
    Deal Tile
  </h4>
  <div class="doc-section-box mb30 clearfix">
    <div class="columns six">
      <div class="ui-tile">
        <a href="" class="ui-tile-img">
          <div class="ui-tile-badge">
            <span class="tag-qty-left">
              1 Left
            </span>
          </div>
          
          <div class="ui-tile-bar-overlay">
            <span class="ui-tile-price">
              P72,800
              <small class="ui-tile-original-price">
              (from P120,000)
            </small>
            </span>
            <span class="ui-tile-valid-tag">
              Valid now
            </span>
            
          </div>
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57beb0cdc8e7d03822000006/cover-2016-08-25.jpg" alt="">    
        </a>
        <div class="ui-tile-title">
          <h3>
            <a href="">12 Heavenly Mini Cakes by Chef Buddy Trinidad (New Flavors!)</a>
          </h3>
          <a href="">
            <strong>Park Avenue Desserts</strong>
          </a>
          <div class="star-rating">
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="columns six">
       <div class="ui-tile ui-tile-is_soldout">
        <a href="" class="ui-tile-img">
          <div class="ui-tile-bar-overlay">
            
            <span class="ui-tile-price">
              P1,620
              <small class="ui-tile-original-price">
              (from P2,700)
            </small>
            </span>
            <span class="ui-tile-valid-tag">
              Sold out
            </span>
            
          </div>
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57ee0d4cc8e7d00a3b00000a/cover-2016-09-30.jpg" alt="">    
        </a>
        <div class="ui-tile-title">
          <h3>
            <a href="">40% OFF Exquisite 4-Course Set (U.S. Angus Beef Rib)</a>
          </h3>
          <a href="">
            <strong>Cowrie Grill by Manila Hotel</strong>
          </a>
          <div class="star-rating">
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="columns twelve">
      <div class="columns six">
        
          
            <div class="doc-section-box mb30 clearfix">
              

                <a href="#" class="ui-tile-merchant">
                  <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58199e60c8e7d03f4f0000cc/cover-2016-11-02.jpg" alt="Chateau Hestia Tagaytay">
                  <div class="ui-tile-title">
                    <h5>Centro Estetico Rejuvenation and Wellness</h5>
                    <div class="star-rating">
                      <span class="star-o"></span>
                      <span class="star-o"></span>
                      <span class="star-o"></span>
                      <span class="star-o"></span>
                      <span class="star-o"></span>
                    </div>
                    <small>Bonifacio Global City, Legaspi, Makati, +3 more places</small>
                  </div>
                </a>

              
            </div>  
        
          
      </div>

      <div class="columns six">
        <div class="doc-section-box mb30 clearfix">
          
            <a href="" class="ui-tile-collection">
              <span class="ui-tile-collection-thumb-grid clearfix">
                <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57ea191cc8e7d0472a00000e/cover-2016-09-27.jpg" alt="">
                <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57ad45c7d1b7ea0c5a0001c2/cover-2016-08-12.jpg" alt="">
                <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5812b1efc8e7d07ee000011b/cover-2016-10-28.jpg" alt="">
                <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58199e60c8e7d03f4f0000cc/cover-2016-11-02.jpg" alt="">  
              </span>
              <div class="ui-tile-title">
                <strong>Picks For The Week</strong>
                <p>We’ve lined up deals for you for the rest of the week.  </p>
              </div>
            </a>
          
        </div>
        
      </div>
    </div>
  </div>
  

  

  <h4>Location Tile</h4>
  <div class="doc-section-box mb30 clearfix">
    
    <div class="columns four">
    <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57f77b52c8e7d04ea6000014/cover-2016-10-07.jpg');">
      <strong>Makati</strong>
    </a>  
  </div>
  <div class="columns four">
    <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57f2691bc8e7d00a3b0000d7/cover-2016-10-03.jpg')">
      <strong>Taguig</strong>
    </a>
  </div>  
  <div class="columns four">
    <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5819b4d6d1b7ea577400000a/cover-2016-11-02.jpg')">
      <strong>Mandaluyong</strong>
    </a>
  </div>  
    
    
    
  </div>
  
</div>