<div class="doc-section" id="CollectionHeading">
  <h3>Collection Heading</h3>
  <p>
    Use this to put a title for a particular list of deals or to name a certain section
  </p>
  <div class="doc-section-box mb30">
    <div class="collection-title">
      <h4>
        This is a collection title
      </h4>
      This is the description
    </div>
  </div>
  <h4>Collection heading with link</h4>
  <div class="doc-section-box">

    <div class="collection-title w-link">
      <a class="see-more" href="">See All</a>
      <h4>
        Recommended Merchants
      </h4>

    </div>
    
  </div>
</div>
