<div class="doc-section" id="Button">
  <h3>
    Button
  </h3>
  <div class="doc-section-box mb30">
    <a href="" class="ui-button ui-button-primary">Button</a>
    <a href="" class="ui-button">Button</a>
    <a href="" class="ui-button ui-button-primary ui-button-o">Button Outline</a>
    <a href="" class="ui-button ui-button-o">Button Outline</a>
    <a href="" class="ui-button ui-button-o ui-button-disabled">Button Disabled</a>
    <br><br>
    <button class="ui-button">Default button</button>
    <button class="ui-button ui-button-disabled">Default button</button>
  </div>
  <div class="doc-section-box mb30">
    <a href="" class="ui-button ui-button-small ui-button-primary">Small</a>
    <a href="" class="ui-button ui-button-small">Small</a>
    <a href="" class="ui-button ui-button-small ui-button-o">Small</a>
    <a href="" class="ui-button ui-button-primary ui-button-small ui-button-o">Small</a>
  </div>
  <div class="doc-section-box mb30">
    <button class="ui-button-pill">Yes</button>


  </div>

</div>


