<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/slick.min.js"></script>
<script>
  $(document).ready(function(){
  $('.featured-location-tiles-slider').slick({
    slidesToShow: 4,
    arrows: true,
    infinite: false,
    slides: '.ui-tile-location',
    prevArrow: '.slider-nav-arrow-left',
    nextArrow: '.slider-nav-arrow-right'
  });
  $('ul.nav-tabs li').click(function(){
    $('ul.nav-tabs li').removeClass('is-active');
    $(this).addClass('is-active');
  })

})
</script>