
<div class="footer clearfix">
  <div class="container">
    <div class="columns seven">
      <div class="columns six">
        <ul class="link-list">
          <li><a href="">About Us</a></li>
          <li><a href="">User Guide</a></li>
          <li><a href="">Frequently Asked Questions</a></li>
        </ul>  
      </div>
      <div class="columns six">
        <ul class="link-list">
          <li><a href="">Terms &amp; Privacy</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Partner with Us</a></li>
        </ul>
      </div>
    </div>
    <div class="columns five">

      <h6>Customer Service Hours</h6>
      <p>
        <div>Monday to Friday 10am - 8pm </div>
        <small>except declared holidays</small>   
      </p>
      
      <p>
        <strong>team@dealgrocer.com</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong>+63 917 547 623</strong>
      </p>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
  $(document).ready(function(){
    $('.payment-option-selectable').click(function(){
      $('.payment-option-selectable').removeClass('is-selected');
      $(this).addClass('is-selected');
    });
    $('.splash-hero-slider').slick({
      slidesToShow: 1,
      infinite: true,
      arrows: true,
      draggable: false,
      // autoplay: true,
      autoplaySpeed: 6000,
      pauseOnHover: false,
      pauseOnFocus: true,
      fade: true
    });
    $('.featured-location-tiles-slider').slick({
      slidesToShow: 4,
      arrows: true,
      infinite: false,
      initialSlide: 0
    });
    $('.collections-slider').slick({
      slidesToShow: 4,
      infinite: false,
      arrows: true,
    });
    
    $('.merchant-collections-slider').slick({
      slidesToShow: 4,
      infinite: false,
      arrows: true
    })
    $('ul.nav-tabs li').click(function(){
      $('ul.nav-tabs li').removeClass('is-active');
      $(this).addClass('is-active');
    })
    $('.filter-pill').click(function(){
      $('.filter-pill').removeClass('is-selected');
      $(this).addClass('is-selected');
    });
    

})
</script>