<div class="dg-header clearfix">
  <div class="container">
    <a class="logo">Deal Grocer</a>  
    <div class="dg-header-item ">
      <a href="" class="dg-checkout-btn">
        <span class="items-in-cart">1 item</span>
        <strong>Checkout</strong>
      </a>  
    </div>
    <div class="dg-header-item is_hoverable has_notify">
      <a href="">Hi Harvey <span class="dg-dropdown-caret"></span></a>
      <div class="ui-nav-dropdown">
        <ul class="ui-nav-dropdown-list">
          <li class="ui-nav-item">
            <a href="">Your Purchases (3)
              <div class="ui-nav-coupon">
                <div class="ui-nav-deal-name">P500 Worth of Flavorful Delicacies in this Makati Bistro</div>
                <small>Kahuna Makati Bistro</small>
                <span class="h-state h-state-valid">Valid Now</span>  
              </div>
              
            </a>
          </li>
          <li class="ui-nav-item">
            <a href="">Reviews (2)
              <div class="ui-nav-item-excerpt media-item clearfix">
                <div class="media-thumbnail tile-thumbnail tile-thumbnail-xsm">
                  <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582bf57bd1b7ea6da700003d/cover-2016-11-16.jpg" alt="">
                </div>
                <div class="media-content">
                  Please leave a review for 
                  <br>
                  <strong>The Teahouse at Qiwellness Living  </strong>
                </div>
                
                
              </div>
            </a>

          </li>
          <li class="ui-nav-item">
            <a href="Installments">Installments</a>
          </li>
          <li class="ui-nav-item">
            <a href="">Credits <span class="pull-right">$22.00</span></a>
          </li>
          <li class="ui-nav-item">
            <a href="">Payment Methods</a>
          </li>
          <li class="ui-nav-item">
            <a href="">Account Settings</a>
          </li>
          <li class="ui-nav-item">
            <a href="">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="dg-header-item pull-left">
      <a>Browse by Location</a>
    </div>  
  </div>
</div>
<div class="dg-collection-nav">
  <div class="container">
    <a href="" class="is_selected">Hotels</a>
    <a href="">Getaways</a>
    <a href="">Beauty &amp; Fitness</a>
    <a href="">Dining</a>
    <a href="">Our Partners</a>  
  </div>  
</div>
