
    <div class="collection-title">
      <h4>
        Top Destinations
      </h4>
    </div> 
    <div class="location-tiles">
      <div class="featured-location-tiles-slider">
        <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/580592a4c8e7d06daa000001/deal_photos/580592a7c8e7d06daa000006/deal-2016-10-18.jpg');">
        <strong>Makati</strong>
        </a>
        <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/58059ed9d1b7ea28b5000007/deal_photos/58059edbd1b7ea28b500000c/deal-2016-10-18.jpg')">
          <strong>Taguig</strong>
        </a>
        <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/57f2e0fac8e7d00a380000dd/deal_photos/582d2fb0d1b7ea02c200005a/deal-2016-11-17.jpg')">
          <strong>Tagaytay</strong>
        </a>
        <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/57e0ef80d1b7ea1a2f000092/deal_photos/582d2410d1b7ea02c000005b/deal-2016-11-17.jpg')">
          <strong>Baler</strong>
        </a>
        <a href="" class="ui-tile-location" style="background-image: url('https://dxjamgtjhgl48.cloudfront.net/uploads/57e0ef80d1b7ea1a2f000092/deal_photos/582d240dc8e7d00bce000049/deal-2016-11-17.jpg')">
          <strong>Palawan</strong>
        </a>  
      </div>
      <div class="slider-nav">
        <button class="slider-nav-arrow slider-nav-arrow-left"></button>
        <button class="slider-nav-arrow slider-nav-arrow-right"></button>
      </div>
    </div> 
    <div class="location-list">
      <div class="location-column-manila columns five">
        <h5>Metro Manila</h5>
        <ul>
          <li><a href="">Makati</a></li>
          <li><a href="">Quezon City</a></li>
          <li><a href="">Taguig</a></li>
          <li><a href="">Pasay</a></li>
          <li><a href="">Pasig</a></li>
          <li><a href="">Muntinlupa</a></li>
          <li><a href="">San Juan</a></li>
          <li><a href="">Manila</a></li>
          <li><a href="">Mandaluyong</a></li>
        </ul>
      </div>
      <div class="location-column-outside-metro-manila columns seven">
        <h5>Outside Metro Manila</h5>
        <ul>
          <li><a href="">Tagaytay</a></li>
          <li><a href="">Batangas</a></li>
          <li><a href="">Baguio</a></li>
          <li><a href="">Vigan</a></li>
          <li><a href="">Palawan</a></li>
          <li><a href="">Boracay</a></li>
          <li><a href="">Bohol</a></li>
          <li><a href="">Pasig</a></li>
          <li><a href="">Muntinlupa</a></li>
          <li><a href="">San Juan</a></li>
          <li><a href="">Manila</a></li>
          <li><a href="">Mandaluyong</a></li>
          <li><a href="">Pasig</a></li>
          <li><a href="">Muntinlupa</a></li>
          <li><a href="">San Juan</a></li>
          <li><a href="">Manila</a></li>
          <li><a href="">Mandaluyong</a></li>
        </ul>   
      </div>
    </div>
  