<div class="row clearfix">
  
</div>
<div class="row clearfix">
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-badge">
          <span class="tag-qty-left">
            1 Left
          </span>
        </div>
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P850
            <small class="ui-tile-original-price">
            (from P1,430)
          </small>
          </span>
          
          
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58341d7fc8e7d06cd7000058/cover-2016-11-22.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">Mouthwatering Korea Garden Bestsellers for 2</a>
        </h3>
        <a href="">
          <strong>Korea Garden</strong>
        </a>
        <div class="star-rating">
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
        </div>
      </div>
    </div>
    <!-- TILE END -->
  </div>
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P325
            <small class="ui-tile-original-price">
            (from P500)
          </small>
          </span>
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582bef13c8e7d072b4000040/cover-2016-11-16.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">P500 Worth of Food &amp; Drinks (Makati)</a>
        </h3>
        <a href="">
          <strong>House of Lasagna</strong>
        </a>
        
      </div>
    </div>
    <!-- TILE END -->
  </div>
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P350
            <small class="ui-tile-original-price">
            (P500)
          </small>
          </span>
          <span class="ui-tile-valid-tag">
            Valid now
          </span>
          
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57b6a7e8d1b7ea50330000db/cover-2016-08-19.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">P500 Worth of Flavorful Delicacies in this Makati Bistro</a>
        </h3>
        <a href="">
          <strong>Park Avenue Desserts</strong>
        </a>
      </div>
    </div>
    <!-- TILE END -->
  </div>
</div>

<div class="row clearfix">
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P1,950
            <small class="ui-tile-original-price">
            (from P4,000)
          </small>
          </span>
          <span class="ui-tile-valid-tag">
            Valid now
          </span>
          
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58258fc6d1b7ea107600016a/cover-2016-11-11.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">51% OFF Jiujitsu 5-Session Package (Beginners)</a>
        </h3>
        <a href="">
          <strong>Jiujitsu Manila</strong>
        </a>
      </div>
    </div>
    <!-- TILE END -->
  </div>
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-badge">
          <span class="tag-qty-left">
            1 Left
          </span>
        </div>
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P1,688
            <small class="ui-tile-original-price">
            (from P4,400)
          </small>
          </span>
          <span class="ui-tile-valid-tag">
            Valid now
          </span>
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57fb4356c8e7d03af50002d3/cover-2016-10-10.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">8-Class Card Package to Bikram Yoga (62% OFF) </a>
        </h3>
        <a href="">
          <strong>Bikram Yoga Manila-Makati</strong>
        </a>
        
      </div>
    </div>
    <!-- TILE END -->
  </div>
  <div class="columns four">
    <!-- TILE HERE -->
    <div class="ui-tile">
      <a href="" class="ui-tile-img">
        <div class="ui-tile-bar-overlay">
          <span class="ui-tile-price">
            P350
            <small class="ui-tile-original-price">
            (P500)
          </small>
          </span>
        </div>
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58253220c8e7d0178900015d/cover-2016-11-11.jpg" alt="">    
      </a>
      <div class="ui-tile-title">
        <h3>
          <a href="">Dig in P500 Worth of Tasty Thai Dishes!</a>
        </h3>
        <a href="">
          <strong>Jatujak</strong>
        </a>
        <div class="star-rating">
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
          <span class="star-o"></span>
        </div>
      </div>

    </div>
    <!-- TILE END -->
  </div>
</div>

