<div class="row clearfix">
  <div class="slider-wrapper">
    <div class="collections-slider">
      <a href="" class="ui-tile-collection">
        <span class="ui-tile-collection-thumb-grid clearfix">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d2299d1b7ea02c0000057/cover-2016-11-17.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58170bf6c8e7d03f52000152/cover-2016-10-31.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5812b1efc8e7d07ee000011b/cover-2016-10-28.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58101e99c8e7d07edd00004a/cover-2016-10-26.jpg" alt="">  
        </span>
        <div class="ui-tile-title">
          <strong>Fitness, Health and Beauty</strong>
          <p>Diet and exercise are both important</p>
        </div>
      </a>
      
      <a href="" class="ui-tile-collection">
        <span class="ui-tile-collection-thumb-grid clearfix">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d3546d1b7ea02c000007d/cover-2016-11-17.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d6704c8e7d00bd100008f/cover-2016-11-17.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d5cfad1b7ea02c2000087/cover-2016-11-17.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d6385d1b7ea02c200009c/cover-2016-11-17.jpg" alt="">  
        </span>
        <div class="ui-tile-title">
          <strong>Buffet Hotels</strong>
          <p>Top Hotels with Buffets around Manila</p>
        </div>
      </a>
      
      <a href="" class="ui-tile-collection">
        <span class="ui-tile-collection-thumb-grid clearfix">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582ed4d2d1b7ea3e78000017/cover-2016-11-18.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582bec6fd1b7ea6da700002c/cover-2016-11-16.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58059edbd1b7ea28b500000b/cover-2016-10-18.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/583fc9a0d1b7ea1fa0000077/cover-2016-12-01.jpg" alt="">  
        </span>
        <div class="ui-tile-title">
          <strong>Roadtrips outside Manila</strong>
          <p>Ready your playlist for that long drive with your friends.</p>
        </div>
      </a>

      <a href="" class="ui-tile-collection">
        <span class="ui-tile-collection-thumb-grid clearfix">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5818807dd1b7ea75da0000c4/cover-2016-11-01.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/581882e6d1b7ea75d70000c8/cover-2016-11-01.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57fb4356c8e7d03af50002d3/cover-2016-10-10.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57fb2b9ec8e7d04ea600005a/cover-2016-10-10.jpg" alt="">  
        </span>
        <div class="ui-tile-title">
          <strong>Extreme Fitness</strong>
          <p>Nothing beats like old school sweat</p>
        </div>
      </a>
      
      <a href="" class="ui-tile-collection">
        <span class="ui-tile-collection-thumb-grid clearfix">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d2299d1b7ea02c0000057/cover-2016-11-17.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58170bf6c8e7d03f52000152/cover-2016-10-31.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5812b1efc8e7d07ee000011b/cover-2016-10-28.jpg" alt="">
          <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58101e99c8e7d07edd00004a/cover-2016-10-26.jpg" alt="">  
        </span>
        <div class="ui-tile-title">
          <strong>Fitness, Health and Beauty</strong>
          <p>Diet and exercise are both important</p>
        </div>
      </a>
      
      

      
    </div>  
  </div>
</div>

