<div class="row clearfix">
  <div class="slider-wrapper">
    <div class="merchant-collections-slider">
    
      <a href="#" class="ui-tile-merchant">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/58199e60c8e7d03f4f0000cc/cover-2016-11-02.jpg" alt="Chateau Hestia Tagaytay">
        <div class="ui-tile-title">
          <h5>Centro Estetico Rejuvenation and Wellness</h5>
          <div class="star-rating">
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
          </div>
          <small>Bonifacio Global City, Legaspi, Makati, +3 more places</small>
        </div>
      </a>  
      
      

      <a href="#" class="ui-tile-merchant">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d36ddd1b7ea02c0000081/cover-2016-11-17.jpg" alt="Midas Hotel and Casino">
        <div class="ui-tile-title">
          <h5>Midas Hotel and Casino</h5>
          <div class="star-rating">
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
          </div>
          <small>Pasay</small>
        </div>
      </a>

      <a href="#" class="ui-tile-merchant">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582a61a0d1b7ea53be000023/cover-2016-11-15.jpg" alt="Vanilla Cupcake Bakery">
        <div class="ui-tile-title">
          <h5>Vanilla Cupcake Bakery</h5>
          <small>Alabang Town Center, Muntinlupa, Glorietta, +3 more places</small>
        </div>
      </a>

      <a href="#" class="ui-tile-merchant">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5829604ac8e7d0178c00029e/cover-2016-11-14.jpg" alt="Illustrado">
        <div class="ui-tile-title">
          <h5>Illustrado</h5>
          <small>Makati, Manila</small>
        </div>
      </a>

      <a href="#" class="ui-tile-merchant">
        <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d2f70c8e7d00bd100004b/cover-2016-11-17.jpg" alt="The Teahouse at Qiwellness Living">
        <div class="ui-tile-title">
          <h5>The Teahouse at Qiwellness Living</h5>
          <div class="star-rating">
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
            <span class="star-o"></span>
          </div>
          <small>Tagaytay</small>
        </div>
      </a>

      
    </div>     
  </div>
   
</div>

