a.ui-button{
  text-decoration: none;
}
.ui-button{
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  padding: .7em 1.8em;
  color: #fff;
  text-align: center;
  height: 39px;
  font-size: $base-font-size;
  font-weight: 700;
  box-shadow: 0 1px 0 darken($grey-color-dark, 5%);
  border: 0 rgba(0,0,0,0);
  background-color: $grey-color-dark;
  text-decoration: none;
  border-radius: 2px;
  line-height: 1.3;
  vertical-align: top;
  display: inline-block;
  transition: .1s linear background-color;
  box-sizing: border-box;
  margin-bottom: 1em;
  &:hover{
    background-color: lighten($grey-color-dark, 4%);
  }
  &:active{
    background-color: darken($grey-color-dark, 8%);
  }
}
.ui-button-primary{
  background-color: $brand-color;
  box-shadow: 0 1px 0 darken($brand-color, 5%);
  &:hover{
    background-color: lighten($brand-color, 4%);
  }
  &:active{
    background-color: darken($brand-color, 7%);
  }
  
}
.ui-button-disabled{
  background-color: lighten($grey-color-dark, 35%);
  color: #fff;
  cursor: not-allowed !important;
  box-shadow: none;
  height: 40px;
  &:hover, &:active, &:visited, &:focus{
    background-color: lighten($grey-color-dark, 35%);
  }
  &.ui-button-o{
    background-color: transparent;
    color: lighten($grey-color-dark, 30%);
    border-color: lighten($grey-color-dark, 30%); 
  }
  &.ui-button-primary{
    background-color: lighten($brand-color, 20%);
  }
}
.ui-button-none{
  background-color: transparent;
  box-shadow: none;
  color: $brand-color;
  &:hover{
    background-color: transparent;
    text-decoration: underline;
  }
}
.ui-button-o{
  background-color: transparent;
  border: 1px solid $grey-color-dark;
  box-shadow: none;
  height: 40px;
  line-height: 1.2;
  color: $grey-color-dark;
  &:hover, &:active, &:visited, &:focus{
    background-color: transparent;
  }
  &.ui-button-primary{
    border-color: $brand-color;
    color: $brand-color;
  }
}
.ui-button-small{
  padding: .4em 1.2em;
  font-weight: 700;
  height: 31px;
  vertical-align: top;
  &.ui-button-o{
    height: 32px;
  }
}
.ui-button-full-width{
  display: block;
  width: 100%;
}
.ui-button-large{
  font-size: $large-font-size;
  line-height: .8;
}
.ui-button-pill{
  border-radius: 30px;
  padding: .2em .7em;
  display: inline-block;
  border: 2px solid $brand-color;
  cursor: pointer;
  color: $brand-color;
  vertical-align: middle;
  font-weight: 700;
  background-color: transparent;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
}
.ui-button-payment{
  
}