// ONLY USED FOR THIS WEBSITE

body{
  background-color: #ffffff;
}
.doc-mobile-container{
  max-width: 375px;
  border: 2px solid $grey-color-light;
  margin: 0 auto;
}
.doc-header{
  background-color: $brand-color;
  color: #fff;
  padding: 10px 0;
  h1.logo{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    margin: 0;
    letter-spacing: -0.03em;
    display: inline-block;
  }
}
.dg-mt50{
  margin-top: 50px;
}
ul.doc-nav-list{  
  padding: 0;
  margin-top: 20px;
  li{
    margin: 0 0 2px 0;
    font-size: $small-font-size;
  }
  li > a{
    padding: 7px;
    background-color: #fff;
    display: block;
    text-decoration: none;
    &:hover{
      cursor: pointer;
      background-color: $brand-color;
      color: #fff;
      transition: .1s ease-in all;
    }
  }
}
.doc-section{
  margin-bottom: 70px;
  border-top: 1px solid $grey-color-light;
  padding-top: 15px;
  > h3{
    margin-bottom: 5px;
    // font-weight: normal;
  }
  > h4{
    margin-bottom: 5px;
    color: $grey-color;
    font-size: 15px;
  }
}
.doc-section-box{
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  &.doc-section-box-primary{
    background-color: $brand-color;
    border: none;
  }
}


.doc-section{
  .ui-modal{
    display: block;
    position: relative;
  }
}

.doc-color-box{
  border-radius: 2px;
  padding: 15px 30px;
  width: 30%;
  box-sizing: border-box;
  margin: 5px;
  color: #fff;
  text-align: center;
  display: inline-block;
  &.doc-color-brand{
    background-color: $brand-color;
  }
  &.doc-color-secondary{
    background-color: $secondary-light-color;
    color: $text-color;
  }
  &.doc-color-notify-bubble{
    background-color: $notify-bubble-color;
    color: $text-color;
  }
  &.doc-color-grey{
    background-color: $grey-color;
  }
  &.doc-color-grey-light{
    background-color: $grey-color-light;
    color: $text-color;
  }
  &.doc-color-grey-lighter{
    background-color: $grey-color-lighter;
    color: $text-color;
  }
  &.doc-color-grey-dark{
    background-color: $grey-color-dark;
  }
  &.doc-color-status-highlight{
    background-color: $status-highlight;
  }
  &.doc-color-status-default{
    background-color: $status-default;
    color: $text-color;
  }
  &.doc-color-status-valid{
    background-color: $status-valid;
  }
  &.doc-color-status-warning{
    background-color: $status-warning;
  }
}
