.footer{
  padding: 50px 0;
  margin-top: 50px;
  border-top: 1px solid $grey-color-light;
  a{
    color: $text-color;
    text-decoration: none;
  }
  ul.link-list{
    li{
      margin-bottom: 10px;
    }
  }
}