label{
  display: block;
  margin-bottom: 7px;
  &.u-form-label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: $small-font-size;
  }
}
.label-sub{
  display: block;
  color: $grey-color;
  font-size: $xsmall-font-size;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 5px;
}
input[type=text],
input[type=password],
select, textarea{
  border-radius: 2px;
  height: 40px;
  background-color: #ffffff;
  font-size: $base-font-size;
  outline: none;
  border: 1px solid $grey-color;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: $base-font-family;
  margin-bottom: 1em;
  &:focus{
    border-color: $brand-color;
  }
  &[disabled]{
    cursor: not-allowed;
    background-color: $grey-color-lighter;
    border-color: $grey-color-light;
  }
}
.radio,.checkbox{
  margin-right: 10px;
  display: inline-block;
  input[type="radio"],
  input[type="checkbox"]{
    display: inline-block;
  }
  label{
    display: inline-block;
    cursor: pointer;
  }
}
.select{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  &:before{
    content: "";
    background-image: url('../images/arrow-down.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 19px;
    width: 7px;
    height: 3.5px;
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 2.3em 0 1em;
  }  
}

textarea{
  min-height: 200px;
}
.u-form-group{
  // margin-bottom: 10px;
  vertical-align: top;
}
.u-form-group-inline{
  display: inline-block;
  margin-right: 10px;
}
.input-w-prefix{
  display: inline-block;
  margin-right: 10px;
  input[type=text],
  input[type=num]{
    
  }
}

.ui-pill-radio{
  .ui-pill{
    display: inline-block;
  }
  input[type=radio]{
    display: none;
    vertical-align: middle;
    &:checked+label{
      border-color: $brand-color;
      cursor: default;
    }
  }
  label{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 1.5em;
    color: $brand-color;
    font-weight: 700;
    border: 2px solid transparent;
    padding: 7px 20px;
    cursor: pointer;
    transition: .1s linear all;
  }
}