.dg-header{
  background-color: $brand-color;
  border-bottom: 2px solid darken($brand-color, 5%);
  position: relative;
  z-index: 100;
  height: 54px;
  max-height: 54px;

}

.dg-header-item{
  float: right;
  line-height: 52px;
  height: 52px;
  position: relative;
  &.has_notify:before{
    position: absolute;
    top: 20px;
    left: 12px;
    background-color: $notify-bubble-color;
    border-radius: 10px;
    width: 6px;
    height: 6px;
    content: "";
  }
  &.is_hoverable{
    &:hover{
      cursor: pointer;
      background-color: darken($brand-color, 3%);
    }
  }
  > a:first-child{
    color: #fff;
    padding: 0 25px;
    display: block;
    
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }
  .dg-checkout-btn{
    display: block;
    border-radius: 6px;
    border: 2px solid lighten($brand-color, 10%);
    margin-top: 7px;
    padding: 0 !important;
    overflow: hidden;
    margin-left: 20px;
    &:hover{
      > strong{
          background-color: darken($brand-color, .5%);
          
        }  
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    } 
    .items-in-cart{
      float: left;
      line-height: 35px;
      background-color: darken($brand-color, 5%);
      display: block;
      padding: 0 15px;
    }
    > strong{
      float: left;
      line-height: 35px;
      display: block;
      padding: 0 15px;
      transition: .1s linear background-color;
      background-color: lighten($brand-color, 10%);
    }

  }
  .ui-nav-dropdown{
    position: absolute;
    z-index: 1;
    display: none;
    right: -10%;
  }
  &:hover{
    .ui-nav-dropdown{
      display: block;
    }
  }
}
.dg-dropdown-caret{
  display: inline-block;
  background-image: url('../images/caret-down-white.svg');
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 9px;
  height: 6px;
}
.dg-collection-nav{
  background-color: #fff;
  > .container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    > a{
      letter-spacing: 1.5px;
      text-align: center;
      color: $text-color;
      padding: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;
      display: block;
      flex-grow: 1;
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      border-bottom: 2px solid transparent;
      transition: .1s linear background-color;
      &:hover{
        // background-color: darken($grey-color-lighter, 3%);
      }
      &.is_selected{
        border-bottom: 2px solid $brand-color;
        
        
      }
    }
  }
  
}
