.loader,
.loader:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
.loader{
  margin: 5px;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid $grey-color-lighter;
  border-right: .2em solid $grey-color-lighter;
  border-bottom: .2em solid $grey-color-lighter;
  border-left: .2em solid $brand-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  &.loader-large{
    border-width: .34em;
    width: 2em;
    height: 2em;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
