.notification-coupon-success{
  background-color: $status-default;
  padding: 50px 0;
  .coupon-card{
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.flash-message{
  margin-bottom: 20px;
}
.alert-block{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  background-color: $grey-color-dark;
  &.alert-error{
    background-color: $status-warning;
  }
  &.alert-success{
    background-color: $status-valid;
  }
}