.pagination{
  list-style: none;
  padding-left: 0;
  > li{
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    &.disabled{
      > a{
        color: $grey-color-light;
        cursor: default;
        text-decoration: none !important;
        &:hover{
          color: $grey-color-light;
        }
      }
    }
    &.current{
      > a{
        color: $text-color;
        cursor: default;
        background-color: $grey-color-lighter;
        text-decoration: none !important;
      }
    }
    > a{
      display: inline-block;
      padding: 0 10px;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      transition: .15s linear color;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}