.payment-sidebar{
  border: 1px solid $grey-color-light;
  background-color: $grey-color-lighter;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
}
.payment-option-selectable{
  border-top: 1px solid $grey-color-light;
  overflow: hidden;
  zoom: 1;
  padding: 30px 0 20px 0;
  cursor: pointer;
  .collection-title{
    margin-bottom: 0;
  }
  .i-round-check{
    width: 24px;
    height: 24px;
    border-radius: 1.25em;
    border: 2px solid $grey-color;
    position: relative;
  }
  &.has-icon{
    .payment-option-icon{
      float: right;
      margin-left: 20px;
      // margin-bottom: 20px;
    }
  }
}
.payment-option-collapsible{
  display: none;
  padding-top: 20px;
}

.promo-code-input{
  position: relative;
  .ui-button{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0 15px;
  }
  input[type=text]{
    width: 100%;
    border: none;
  }
}
