.slider-wrapper{
  position: relative; 
}
.slick-slider{
  display: none;
  &.slick-initialized{
    display: block;
  }

  .slick-arrow{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    width: 13px;
    height: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .15s linear opacity;
    text-indent: -9999px;
    &.slick-disabled{
      opacity: 0;
      cursor: default;
    }
  }

  button.slick-prev{
    background-image: url(../images/caret-left.svg);
    left: -36px;
  }
  button.slick-next{
    background-image: url(../images/caret-right.svg);
    right: -36px;
  }
}
.merchant-collections-slider:hover,
.collections-slider:hover,
.featured-location-tiles-slider:hover{
  .ui-tile-merchant,
  .ui-tile-collection,
  .ui-tile-location{
    opacity: .7;
    transition: .15s linear opacity;
  }
  .ui-tile-merchant:hover,
  .ui-tile-collection:hover,
  .ui-tile-location:hover{
    opacity: 1;
    transition: .15s linear opacity;
  }
}