.table-bordered{
  .table-cell{
    padding: 10px 0;
    border-top: 1px solid $grey-color-light;
  }
  .table-row-header{
    .table-cell{
      border: none;  
    }
  }
}
.table-row{
  width: 100%;
  display: table;
  // margin-bottom: 20px;
  box-sizing: border-box;
  .table-cell{
    display: table-cell;
    vertical-align: middle;
    &.numeric{
      text-align: right;
    }
  }
}
.table-row-header{
  h5, h6,h2{
    margin-bottom: 0;
  }
}

// Cart Summary Table
.table-row-total,.table-row-actual{
  .table-cell:first-child{
    width: 280px;
    text-align: right;
  }
}

// Installments table
.table-installments{
  border: 1px solid $grey-color-light;
  margin-bottom: 20px;
  .table-cell{
    padding: 20px;
    border-top: 1px solid $grey-color-light;
  }
}
.table-reference-header{
  background-color: $grey-color-lighter;
  padding: 20px;
}
.table-cell-installment-date{
  width: 280px;
}