.page-content-section{
  overflow: hidden;
  zoom: 1;
  margin-bottom: 50px;
  &.page-content-section-bordered{
    border-bottom: 1px solid $grey-color-light;
  }
}
.page-body-content{
  border-right: 1px solid $grey-color-light;
}
.page-body-content-panel{
  padding-bottom: 20px;
}

blockquote.product-description-quote{
  quotes: "“" "”" "‘" "’";
  border: none;
  color: $grey-color-dark;
  font-size: 1.8em;
  font-weight: 300;
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
  &:before{
    content: open-quote;  
    font-size: 3em;
    font-weight: 300;
    color: $grey-color-light;
    line-height: 0.1em;
    margin-right: 0.15em;
    vertical-align: -0.3em;
  }
}