.page-content-section{
  overflow: hidden;
  zoom: 1;
  margin-bottom: 50px;
  &.page-content-section-bordered{
    border-bottom: 1px solid $grey-color-light;
  }
}
.page-body-content{
  border-right: 1px solid $grey-color-light;
}
.page-body-content-panel{
  padding-bottom: 20px;
}