.tile-thumbnail{
  width: 125px;
  display: inline-block;
  img{
    width: 100%;
  }
  &.tile-thumbnail-sm{
    width: 62px;
    
  }
  &.tile-thumbnail-xsm{
    width: 40px;
    
  }
}
.media-item{
  position: relative;
  .media-thumbnail{
    padding-right: 10px;
  }
  .media-thumbnail,
  .media-content{
    display: table-cell;
    vertical-align: top;
  }
  .media-content{
    overflow: hidden;
    zoom: 1;
  }
  .close{
    position: absolute;
    right: 15px;
    top: 50%;

  }
}